// Classes in order of appearance
.masthead {
  position: absolute;
  height: calc(0.75 * var(--logo-height));
  width: 100%;
  //z-index: 1100;
  background-color: transparent;
  a,p,b,i,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: #ddd;
    small {
      text-decoration: none;
      color: #fff;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
    &:active, &:focus {
      text-decoration: none;
    }
  }
  div.container {
    position: absolute;
    padding-left: var(--sidebar-width);
    margin-top: calc(0.25 * var(--logo-height));
    height: calc(0.5 * var(--logo-height));
    div.columns {
      height: 100%;
      align-content: center;
      div.column {
        align-self: center;
        h1 {
          margin-left: 1rem;
        }
      }
    }
  }
  &-center {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}




* {
  box-sizing: border-box;
}

#content {
  //padding-top: 60px;
  margin: 0;
  background: transparent;
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

// Right sidebar on gallery pages
.sidebar-right {
  margin-bottom: 1em;
  z-index: 2000;
  @include minwidth(80em) {
    width: 300px;
    margin-right: -300px;
    right: 300px;
  }
  @include minwidth(64em) {
    position: absolute;
    top: 0;
    right: 200px;
    width: 200px;
    margin-right: -200px;
    padding-left: 1em;
  }
}

.knows-picker {
  color: #7a8288;
  background-color: #fff;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}



// SIdebar
#wrapper {
  padding-left: 0;
  padding-top: calc(0.75 * var(--logo-height));
  transition: all 0.5s ease;
  &.toggled {
    padding-left: var(--sidebar-width);

    #sidebar-wrapper {
      width: var(--sidebar-width);
    }
    #page-content-wrapper {
      margin-right: 0px;
      position: absolute;
      height: 300px;
    }
  }
}
// Room Styles
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;

  @include breakpoint(small){
    flex-direction: column;
    width: 100%;
    > .scroll-card {
      max-width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: visible;
    }
  }

  > .scroll-card {
    display: flex;
    flex: 0 0 auto;
  }
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: 0;
  height: 100vh;
  margin-left: calc(0px - var(--sidebar-width));
  overflow-y: auto;
  transition: all 0.5s ease;
}
#page-content-wrapper {
  width: 100%;
  padding: 8px;
  position: relative;
}
.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
    a {
      color: #999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
  li {
    // text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #999;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}




@media(min-width: 768px) {
  #wrapper {
    padding-left: 0;

    &.toggled {
      padding-left: 250px;

      #sidebar-wrapper {
        width: var(--sidebar-width);
      }

      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
  #sidebar-wrapper {
    width: 0;
    overflow-x: hidden;
  }
  #page-content-wrapper {
  }
}


// Font Awesome Icons
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
  &-facebook, &-facebook-square {
    background: #3B5998;
    color: white;
  }
  &-twitter {
    background: #55ACEE;
    color: white;
  }
}

// Old custom.scss

.gallery {
  margin-top: 25px;
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .content img {
    padding: 4px;
    border: none;
  }
  &-card {
    background: var(--radical-redemption);
    z-index: 50;
    max-width: 200px;
    height: 100%;
    align-items: center;
    opacity: 1;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    border: none;
    margin: 0 0 0 0;

    img {
      max-width: 150px;
    }
  }
}

.artisan {
  background-color: rgba(0,0,0,0.5);

  h2 {
    padding-top: 1.5rem;
  }
}

.artisan-card {
  background: var(--radical-redemption);
  z-index: 50;
  width: 45%;
  float: left;
  margin: 5px;
  border-radius: 8px;
  &-image {
    width: 150px;
    margin: 8px;
    display: inline-block;
    float: left;
  }
  &-content {
    display: inline-block;
    float: left;
    width: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin-top: 13px;
  }
  button {
    margin-bottom: 13px;
  }

}

.navbar {
  z-index: 50;
  height: calc(0.75 * var(--logo-height));
  &-section, &-center {
    z-index: 50;
  }
}
.profile {
  background: var(--color-red-dark);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px auto;
  &-button {
    width: 50%;
    margin: 5% 5% 5% 5%;
  }
  &-final {
    margin-top: 10px;
  }
  &-description {
    margin-top: 5%;
  }
  &-images {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px auto auto 10px;
    > img {
    }
    &-more {
      margin: 5px 5px 5px 5px;
      opacity: 0.6;
    }
  }
}

// Sidebar Styles
.emblem-rapper {
  display: block;
  width: 250px;
  height: 250px;
}
#emblem {
  height: 250px;
  width: 250px;
  position: absolute;
  margin: 0 auto 0 auto;
  z-index: 1030;
}


// Home Page Layout
.bulletin {
  background-image: var(--rightgod);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1005;
  margin: -125px 0 4% 4%;
  border-radius: 5px;
  hr {
    margin: 0 4% 0 4%;
    color: rgba(0,0,0,0.5);
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h3 {
    float: right;
    margin: 8px;
  }
  span {
    float: left;
    margin: 8px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    li {
      font-size: 1.2em;
      a {
        opacity: 0.75;
        color: #ccc;
        font-size: 1.2rem;
        transition: opacity 0.1s;
        &:hover, &#active {
          opacity: 1;
          color: #fff;
          text-shadow: 1px 0px 20px white;
          -webkit-stroke-width: 5.3ps;
          -webkit-stroke-color: #FFFFF;
          -webkit-fill-color: #FFFFFF;
        }
      }
    }
  }
}

.pimp {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  div {
    width: 50%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    margin: 0 4% 0 4%;
    padding: 4px 4px 4px 4px;
  }
}

.ribbon {
  background-image: var(--sidegod);
  overflow-y: hidden;
  overflow-x: hidden;
  width: var(--sidebar-width);
  height: var(--ribbon-height);
  //border: 1px inset var(--color-violet-dark);
  z-index: 1005;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    li {
      font-size: 1.2em;

      a {
        opacity: 0.75;
        color: #ccc;
        font-size: 1.2rem;
        transition: opacity 0.1s;

        &:hover, &#active {
          opacity: 1;
          color: #fff;
          text-shadow: 1px 0px 20px white;
          -webkit-stroke-width: 5.3ps;
          -webkit-stroke-color: #FFFFF;
          -webkit-fill-color: #FFFFFF;
        }
      }
    }
  }
}

.whack {
  top: 25px;
  left: 25px;
  right: 0;
  bottom: 0;
  position:fixed;
  height: 200px;
  width: 200px;
  &.toggled {
    position: absolute;
  }
}

// Styles for the Profile image gallery
.simplegallery {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;

  .content {
    background: transparent;
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    overflow: hidden;

    img {
      height: auto;
      max-height: 350px;
      border: 1px solid #9c9c9c;
      border-radius: 5px;
      display: none;
      &.active {
        display: inline;
      }
    }
  }

  .thumbnail {
    margin: 5px auto 5px auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    .thumb {
      float: left;
      width: 20%;
      height: auto;
      margin: 0 5px 0 0;
      cursor: pointer;

      img {
        border: 1px solid #9c9c9c;
        width: 100px;
      }
    }

    .last { margin: 0; }
  }
}
.clear { clear: both; }



.tennants {
  ul {
    list-style-type: none;
  }
  ol {
    column-count: 2;
  }
}

.header-image {
  height: 125px;
}
