// Body Background Effect
.parallax {
  background-image: url("/assets/images/house/SOAL3.jpg");
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-style {
    background: var(--radical-skies);
  }
  &-artist, &-art {
    width: 200px;
  }
  &-object {
    width: 200px;
    align-items: center;
    opacity: 0.6;
    color: black;
    text-align: center;
    background-color: #fff;
    > h1, h2, h3, h4, h5, h6, p {
      margin: 10px 0 10px 0;
      color: black;
    }
  }
}

// Styles for _layout/profile.html
.profile {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-style {
    background: var(--radical-skies);
  }
  &-images {
    border: 1px solid white;
    border-radius: 10px;
  }
}
// Styles for _includes/artist_card.html
.artist-card {
  color: black;
  opacity: 0.6;
  > img {
    margin-top: 10px;
    max-width: 200px;
    align-self: center;
  }
  > .card-body {
    > h1, h2, h3, h4, h5, h6, p {
      margin: 10px 0 10px 0;
      color: black;
    }
  }
}

// Event Slideshow
#slideshow {
  position: relative;
  width: auto;
  height: 300px;
  border: 3px solid white;
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.event {
  border: 1px;
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  padding: 10px 10px 10px 10px;
  &-image {
    width: 30%;
    height: 100%;
    > img {
      max-width: 100%;
      max-height: 100%;
      padding: 10px 10px 10px 10px;
    }
  }
  &-details {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    > div.event-links {
      flex-direction: row;
    }
  }
}
