// Body Background Effect
.parallax {
  background-image: url("/assets/images/house/SOAL3.jpg");
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-style {
    background: var(--radical-skies);
  }
  &-artist, &-art {
    width: 200px;
  }
  &-object {
    width: 200px;
    align-items: center;
    opacity: 0.6;
    color: black;
    text-align: center;
    background-color: #fff;
    > h1, h2, h3, h4, h5, h6, p {
      margin: 10px 0 10px 0;
      color: black;
    }
  }
}

// Styles for _layout/profile.html
.profile {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-style {
    background: var(--radical-skies);
  }
  &-images {
    border: 1px solid white;
    border-radius: 10px;
  }
}
// Styles for _includes/artist_card.html
.artist-card {
  color: black;
  opacity: 0.6;
  > img {
    margin-top: 10px;
    max-width: 200px;
    align-self: center;
  }
  > .card-body {
    > h1, h2, h3, h4, h5, h6, p {
      margin: 10px 0 10px 0;
      color: black;
    }
  }
}

// Event Slideshow
#slideshow {
  position: relative;
  width: auto;
  height: 300px;
  border: 3px solid white;
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.event {
  border: 1px;
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  padding: 10px 10px 10px 10px;
  &-image {
    width: 30%;
    height: 100%;
    > img {
      max-width: 100%;
      max-height: 100%;
      padding: 10px 10px 10px 10px;
    }
  }
  &-details {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    > div.event-links {
      flex-direction: row;
    }
  }
}

// Sidebar Styles
div#emblem {
  height: 220px;
  width: 220px;
  //background: var(--emblem);
  //background: var(--godlike);
  background: var(--radical-redemption);
  z-index: 1000;
  border: 3px solid white;
  border-radius: 150px;
  border-left: none;
  border-right: none;
  > a {
    width: 200px;
    height: 200px;
    z-index: 1001;
    background: var(radical-violets);
    > span.radial-whack {
      z-index: 1000;
      width: 200px;
      height: 200px;
      margin-left: 25px;
      margin-top: 15px;
    }
  }
}
a#menu-toggle {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.blazen {
  background: var(--my-gradient);
  padding-bottom: 50px;
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;

    > li {
      margin-bottom: 10px;
      font-size: 1.5em;

      > a {
        opacity: 0.75;
        color: #ccc;
        font-size: 1.5rem;
        transition: opacity 0.1s;

        &:hover, &#active {
          opacity: 1;
          color: #fff;
          text-shadow: 1px 0px 20px white;
          -webkit-stroke-width: 5.3ps;
          -webkit-stroke-color: #FFFFF;
          -webkit-fill-color: #FFFFFF;
        }
      }
    }
  }
}

div#content{
  &:first-child {
    //margin-top: 200px;
  }

}

#sidebar-wrapper {
  // margin-top: 200px;
}
.ribbon {
  background-image: var(--sidegod);
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  // margin: 0 3px 3px 0;
  height: 600px;
  border: 3px inset var(--color-violet-light);
  box-shadow: inset -1px 0 0 var(--color-violet-light), inset 0 -1px 0
  var(--color-violet-dark), inset 0 1px 0 var(--color-violet-mid);
  //border-radius: 8px;
  // border-top: 5one;
  z-index: 1005;
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    padding-top: 220px;
    > li {
      font-size: 1.5em;

      > a {
        opacity: 0.75;
        color: #ccc;
        font-size: 1.5rem;
        transition: opacity 0.1s;

        &:hover, &#active {
          opacity: 1;
          color: #fff;
          text-shadow: 1px 0px 20px white;
          -webkit-stroke-width: 5.3ps;
          -webkit-stroke-color: #FFFFF;
          -webkit-fill-color: #FFFFFF;
        }
      }
    }
  }
}


// Room Styles
.scrolling-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;

  @include breakpoint(small){
    flex-direction: column;
    width: 100%;
    > .scroll-card {
      max-width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: visible;
    }
  }

  > .scroll-card {
    display: flex;
    flex: 0 0 auto;
  }
}
.room {
  display: inline-block;
  width: 100%;

  &-image {
    > img {
      width: 100px;
      height: 100px;
      display: flex;
    }
  }

  &-details {
    display: inline-block;
    width: 250px;
    padding: auto;
  }
}
