---
name: Artists
permalink: /artists/
title: Artists
priority: "2"
layout: gallery
---
{% for artist in site.artist %}
  <a href="{{artist.url | append: ".html"}}">
    <div class="gallery-card card col">
      <img src="{{artist.image}}" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title"><strong>{{artist.aka}}</strong></h5>
        {% if artist.aka %}
          <p><strong>aka</strong></p>
          <h6 class="card-subtitle">{{artist.name}}</h6>
        {% endif %}
        <p class="card-text">{{artist.bio}}</p>
      </div>
    </div>
  </a>
{% endfor %}

