<section class="events">
  <div class="glass" id="slideshow">
    {% for event in site.events %}
      <div class="event">

        <div class="event-image">
          <img src="{{event.teaser_image}}" />
        </div>

        <div class="event-details">
          <div class="row">
            <h1 class="event-name">{{event.name}}</h1>
            <p class="event-date">{{event.date}}</p>
          </div>
          <div class="row">
            <p class="event-description">{{event.description}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
