{% assign title_spacer = " | " %}
<section class="solace-header">
  <header class="navbar">
    {% include emblem.html %}
    <div class="skylift"></div>
    <div class="container">
      <div class="columns">
        <div class="column col-auto">
          <h1><b>House</b>
            {% if page.collection == 'pages' %}
              {% unless page.relative_path contains 'home' %}
                {{title_spacer}}{{page.title | capitalize}}
              {% endunless %}
            {% elsif page.collection == 'posts' %}
              {{title_spacer}}Blog
            {% else %}
              {{title_spacer}}{{page.collection | capitalize}}
            {% endif %}
          </h1>
        </div>
        <div class="column col-auto col-ml-auto col-mr-auto">
          <h2 style="margin-bottom: 10px">{{page.title}}</h2>
          {% if page.artisan %}
            {% assign artisan_url = page.artisan | slugify | prepend: "/artisan/" | append: ".html" %}
            <a href="{{artisan_url}}"><h3><small>by </small>{{page.artisan}}</h3></a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
</section>
