
<header class="navbar" style="height: 50px;">
  <div class="skylift"></div>
  <section class="navbar-section">
    {% comment %}
    <a href="#" class="btn btn-link">Example</a>
    <a href="#" class="btn btn-link">Example2</a>
    {% endcomment %}
  </section>
  <section class="navbar-center">
    {% comment %}
    <a href="/" class="navbar-brand mr-2"><img src="{{site.logo}}"></a>
    {% endcomment %}
    <h1>{{page.title}}</h1>
  </section>

  <section class="navbar-section">
    {% if page.layout == 'exhibit' %}
      {% if page.artist %}
        {% assign artist_url = page.artist | slugify | prepend: "/artist" |
        append: ".html" %}
        
        <a href="{{artist_url}}"><h2> <small>by  </small>{{page.artist}}</h2></a>
      {% endif %}
    {% endif %}

    {% comment %}
    <a href="#" class="btn btn-link">Example</a>
    <a href="#" class="btn btn-link">Example2</a>
    {% endcomment %}
  </section>
</header>

