<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bundle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.title}}" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% include analytics/google-gtag.html %}
