<header class="navbar" style="height: 50px;">
  <section class="navbar-section">
    <h2>{{page.title}}</h2>
    <a href="#" class="btn btn-link">Example</a>
    <a href="#" class="btn btn-link">Example2</a>
  </section>

  <section class="navbar-center">
    <a href="/" class="navbar-brand mr-2"><img src="{{site.logo}}"></a>
  </section>

  <section class="navbar-section">
    <a href="#" class="btn btn-link">Example</a>
    <a href="#" class="btn btn-link">Example2</a>
  </section>
</header>

