<nav>
  <ul>
    <li>
      <a href="/" {% if page.url == "/" %} style="color: teal;"{% endif %}
                                           class="navlink">
        Home
      </a>
    </li>
    <li>
      <a href="/about/" {% if page.url == "/about/" %} style="color: teal;"{% endif %}
                                                     class="navlink">
        About
      </a>
    </li>
    <li>
    <a href="/events/" {% if page.url == "/events/" %} style="color: teal;"{% endif
                                                     %} class="navlink" >
                                                     Events
    </a>
    </li>
    <li>
    <a href="/rooms/" {% if page.url == "/rooms/" %} style="color: teal;"{% endif
                                                   %} class="navlink">
      Rooms
    </a>
    </li>
</nav>

