<div class="ribbon ribbon-right">
  <div class="bulletins">
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}
      <br>Bored</h2>
    {% assign thedate = '' %}
    {% for post in paginator.posts %}
      {% capture date %}{{ post.date | date: "%m%d%Y"}}{% endcapture %}
      {% capture nday %}{{ post.next.date | date: "%m%d%Y" }}{% endcapture %}

      {% if date != nday %}
        {% unless forloop.first == true %}
          </ol>
        {% endunless %}
        <h5 class="date">{{post.date | date: "%A, %B %e, %Y"}}</h5>
        <hr>
        <ol>
        {% endif %}
        <li class="bulletin">
          <a href="{{ post.url | relative_url }}" rel="permalink">
            {{post.title}}
          </a>
        </li>
        {% if forloop.last == true %}
          </ol>
        {% endif %}
      {% endfor %}
  </div>
  {% include paginator.html %}
</div>

