<div class="solace column">
  {% for room in site.rooms %}
    {% unless room.hidden == true %}
      <div class="row">
        <div class="radial-whack"></div>
        <div class="card-room">

          <div class="card-left">
            <img src="{{room.teaser_image}}" alt="Room first image" />
          </div>
          <div class="card">
            <h2 class="room-name">{{room.name}}</h2>
            <p class="room-description">{{room.description}}</p>
          </div>

          <div class="card-right">
            <a href="{{room.airbnb_url}}">
              <img src="/assets/images/airbnb_vertical_lockup_web.png"
                   class="card-right"/>
            </a>
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
