{% capture sku %}
  {{page.artisan | strip | replace: " ", "-" | downcase}}-{{page.title | strip | replace: "
  ", "-" | downcase}}
{% endcapture %}
<button class="snipcart-add-item btn btn-primary btn-lg"
        data-item-name="{{ page.name | default: page.title }}"
        data-item-id="{{sku}}"
        data-item-image="{{page.images.first.thumbnail_image | default:
        page.images.first.image}}"
        data-item-url="{{site.url | append: page.url}}"
        data-item-max-quantity="{{page.stock | default: 1}}"
        data-item-price="{{page.price}}"
        data-item-id="{{page.id}}"
        data-item-description="{{page.excerpt}}"
        data-item-weight="{{page.weight | default: 0}}">
  Add to Cart
</button>
