/*
.card {
  margin: 20px;
  flex-grow: 1;
  flex: auto;
  text-align: center;
  display:flex;
  flex-direction: column;
  > h2, p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-left {
    flex: initial;
    float: left;
    height: 100%;
    width: 150px;
    min-width: 150px;
    display:flex;
    > img {
      margin: 20px;
    }
  }
  &-right {
    float: right;
    height: 100%;
    width: 150px;
    min-width: 150px;
    display:flex;
    flex: initial;
  }
  &-room {
    width: 100%;
    display:flex;
    align-content:center;
    justify-content:center;
    height:100%;
  }
}
*/
