#slideshow {
  // margin: 30px auto;
  position: relative;
  width: 100%;
  height: 240px;
  // padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: row;

  > div {
    top: 10px;
    bottom: 10px;

  }
}
.event {
  border: 1px;
  width: 100%;
  height: 100%;
  position: absolute;

  &-image {
    margin: 0 auto;
    width: 220px;
    height: 220px;
    float: left;

    > img {
      max-width: 220px;
      max-height: 220px;
      margin: 0 auto;
    }
  }
  &-date {
    text-align: right;
    margin-right: 30px;
  }
  &-details {
    overflow-x: hidden;
  }
}

