#slideshow {
  position: relative;
  width: auto;
  height: 300px;
  border: 3px solid white;
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.event {
  border: 1px;
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  padding: 10px 10px 10px 10px;
  &-image {
    width: 30%;
    height: 100%;
    > img {
      max-width: 100%;
      max-height: 100%;
      padding: 10px 10px 10px 10px;
    }
  }
  &-details {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    > div.event-links {
      flex-direction: row;
    }
  }
}

