.artisan-card {
  background: var(--radical-redemption);
  z-index: 50;
  width: 500px;
  float: left;
  margin: 5px;
  border-radius: 8px;
  &-image {
    width: 150px;
    margin: 8px;
    display: inline-block;
    float: left;
  }
  &-content {
    display: inline-block;
    float: left;
    width: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin-top: 13px;
  }
  button {
    margin-bottom: 13px;
  }

}

// Styles for Artisan Layout

.artisan {
  //background-color: rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.9);
  h1,h2,h3,h4,h5,h6,p,b,i {color: black;}
  img {
    border: 1px solid black;
    border-radius: 30px;
    background-color: var(--color-red-light);
    margin-top: .4rem;
  }

  h2 {
    padding-top: 1.5rem;
  }
}

// Styles for Exhibit Layout

.exhibit {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  p,b,h1,h2,h3,h4,h4,h6,{
    color: black;
  }
  &-details {
    text-align: center;
    h1 {padding-top: 1.8rem;}
    h2 a {font-size: 1.8rem;}
    h3 {float: left; text-align: left;}
    p {min-height: 1.8rem;}
  }
}

// Styles for Image Picker in Exhibit layout

.simplegallery {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  .content {
    background: transparent;
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    img {
      height: auto;
      max-height: 100vh;
      border: 1px solid #9c9c9c;
      border-radius: 5px;
      display: none;
      &.active {display: inline;}
    }
  }

  .thumbnail {
    margin: 5px auto 5px auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    .thumb {
      float: left;
      width: 20%;
      height: auto;
      margin: 0 5px 0 0;
      cursor: pointer;
      img {border: 1px solid #9c9c9c; width: 100%;}
    }
    .last { margin: 0; }
  }
}

// Styles for Gallery Layout

.exhibits {
  justify-content: space-around;
  align-items: end;
  .column {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {margin: 0 auto 0 auto; max-width: 150px;}
  }
}
