section.navigation {
  display: inline-block;
  position: fixed;
  // text-align:center;
  width: 256px;
  left: 0;
  height: auto;

  margin: 0 20px 50px 20px;
  // Never Enter Santa's Washroom

  @include breakpoint(small){
    width: 100%;
    height: 100%;
    position: static;
    display: block;
    margin: 0 0 0 0;
  }
}


.parallax {
  overflow-x: hidden;
  @include breakpoint(small){
    background: var(--my-gradient);
    height: 100%;
  }
  @include breakpoint(notsmall){

    background-image: url("/assets/images/house/SOAL3.jpg");

    height: 100vh;
    // Change to greater than 100vh to enable the same static picture to host more
    // scrolling content
    width: 100vw;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    opacity: 0.65;
  }
}

// These are styles extracted from the original theme
#content {
  margin: 0;
  background: transparent;
  // padding-top: 20px;
  // margin-top: 40px;

  @include breakpoint(small){
    display: block;
    width: 100%;
    position: static;
  }
  @include breakpoint(notsmall){
    left: 300px;
    width: calc(100% - 300px);
    position: relative;
  }
}

.solace, .content {
  display: flex;
  justify-content: center;
  @include breakpoint(small){
    width:100%;
    display: block;
    margin: 0;
    padding: 0;
  }

}
.row {
  display: flex;
 //  position: relative;
  height: auto;
  width: 100%;
  margin:10px;
  flex-wrap: wrap;
}

.column {
  width:auto;
  flex: 33%;
  margin: 10px auto;
  display: inline-block;
}

.artists, .gallery {
  background-color: var(--color-red-dark);
  margin: 5% 5% 5% 5%;
  padding: 5px;
}

.art, .artist {
  margin: 20px;
  padding: 20px;
  display: flex;
  opacity: 0.6;
  color: black;
  text-align: center;
  background-color: #fff;
  // flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  > h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0 10px 0;
    color: black;
  }

  &-image {
    max-height: 220px;
    max-width: 220px;
    float: left;
    display: inline-block;
  }

  &-details {
    display: inline-block;
    float:left;
    padding-left: 25px;
  }

  &-title {
    display: flex;
    flex-direction: row;
    color: black;
  }
}
