.solace, .content {
  float: left;
  
  @include breakpoint(small){
    width:100%;
    display: block;
    margin: 0;
    padding: 0;
  }

}


.parallax {
  overflow-x: hidden;
  @include breakpoint(notsmall){

    background-image: url("/assets/images/house/SOAL3.jpg");

    height: 100vh;
    // Change to greater than 100vh to enable the same static picture to host more
    // scrolling content
    width: 100vw;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    opacity: 0.65;
  }
}
