.scrolling-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;

  @include breakpoint(small){
    flex-direction: column;
    width: 100%;
    > .scroll-card {
      max-width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: visible;
    }
  }

  > .scroll-card {
    display: flex;
    flex: 0 0 auto;
  }
}
.room {
  display: inline-block;
  width: 100%;

  &-image {
    > img {
      width: 100px;
      height: 100px;
      display: flex;
    }
  }

  &-details {
    display: inline-block;
    width: 250px;
    padding: auto;
  }
}
