---
layout: sidebar
---
<div class="columns">
  <div class="column col-3 tennants" style="background-color: rgba(0,0,0,0.5);">
    <h3>10 Tennants of Sheppard Museum of Social Culture</h3>
    <ol>
      <li>deLight</li>
      <li>silence</li>
      <li>embodiment
        <ul>
          <li>~your dreams</li>
        </ul>
      </li>
      <li>genuineness</li>
      <li>discernment
        <ul>
          <li>~fiscal</li>
          <li>~emotional</li>
          <li>~mental</li>
          <li>~spiritual</li>
        </ul></li>
        <li>wonder</li>
        <li>tenderness
          <ul><li>~how you affect others</li></ul></li>
        <li>empathy
          <ul><li>~how other affects you</li></ul></li>
        <li>Togetherness
          <ul><li>~community values</li></ul></li>
        <li>Celebrating the <u>Now</u>
          <ul><li>~Where, How, WHy, Where, Who... Now =) =)</li></ul></li>
    </ol>
  </div>
  <div class="column col-6">
    <img src="/assets/images/Emblem-Oval.png" style="padding-top: 10px;"/>
  </div>
  <div class="column col-3" style="background-color: rgba(0,0,0,0.5);">
    <a href="/history/">
      <h4>Click here to read the original Stratchcona Newsletter</h4>
      <img src="/assets/images/beerbaron.webp"/>
    </a>
  </div>
</div>
{% comment %}
<div class="hero-sm hero">
  <img src="/assets/images/History-Banner.png"/ style="width: 100%; height:
  auto;">
</div>

{% endcomment %}
