---
layout: default
---
<div class="columns">
  <div class="column col-6">
    <img src="/assets/images/Emblem-Oval.png" style="padding-top: 10px;"/>
  </div>


  <div class="column col-6 tennants" style="background-color: rgba(0,0,0,0.5);">
    <h3>{{site.data.about.title}}</h3>
    <ol>
      {% for tennant in site.data.about.tennants %}
        <li>{{tennant.title}}
          {% if tennant.description %}
            <ul>
              {% for description in tennant.description %}
                <li>{{description}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
  <div class="column col-3" style="background-color: rgba(0,0,0,0.5);">
    <a href="/history/">
      <h4>Click here to read the original Stratchcona Newsletter</h4>
      <img src="/assets/images/beerbaron.webp"/>
    </a>
  </div>
</div>
{% comment %}
<div class="hero-sm hero">
  <img src="/assets/images/History-Banner.png"/ style="width: 100%; height:
  auto;">
</div>

{% endcomment %}
