---
layout: sidebar
---
<div class="gallery container">
  <div class="purple-reign"></div>
  <div class="columns">
    {% for art in site.gallery %}
      {% assign artist_url =  art.artist | slugify | prepend:"/artist/" | append: ".html" %}
      <a href="{{art.utl}}">
        <div class="column col-auto col-mx-auto col-ml-auto gallery-card card">
          <div class="card-header">
            <div class="card-title h5">{{art.title}}</div>
          </div>

          <div class="card-image">
            <img src="{{art.image}}" class="img-responsive"/>
          </div>
          <div class="card-footer">
            <a href="{{artist.url}}">
              <div class="card-subtitle text-gray">
                <small>by</small> {{art.artist}}</div>
            </a>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
