---
layout: gallery
---
{% for art in site.gallery %}
  {% assign artist_url =  art.artist | slugify | prepend:"/artist/" | append: ".html" %}
  <a href="{{art.url | append: ".html"}}">
    <div class="gallery-card card col">
      <img src="{{art.image}}" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title text-secondary"><strong>{{art.title}}</strong></h5>
        <a href="{{artist_url}}">
          <h6 class="card-subtitle text-secondary">by {{art.artist}}</h6>
        </a>
        <p class="card-text text-secondary">${{art.value}}</p>
      </div>
    </div>
  </a>
{% endfor %}

