---
layout: default
---
<div class="gallery container">
  <div class="purple-reign"></div>
    <div class="columns">

      {% for artist in site.artist %}
        {% assign artist_url = artist.url | append: ".html" %}
        <div class="column col-auto col-mx-auto col-ml-auto gallery-card card">
          <div class="card-image">
            <img src="{{artist.image}}" class="img-responsive"/>
          </div>
          <div class="card-header">
            <div class="card-title h5">{{artist.name}}</div>
            {% if artist.aka %}
              <div class="card-subtitle text-gray">{{artist.aka}}</div>
            {% endif %}
          </div>
          <div class="card-body">
            {{artist.bio}}
          </div>
          <div class="card-footer">
            <a href="{{artist_url}}">
              <button class="btn btn-primary">View Profile</button>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

