---
layout: default
---

<div class="profile">
  <div class="profile-artist">

    <div class="profile-artist-image">
      <img src="{{page.image}}"/>
    </div>

    <div class="profile-artist-title">
      <h1><b>{{page.name}}</b></h1>
      {% if page.aka %}
        <i>aka</i>
        <h2>{{page.aka}}</h2>
      {% endif %}
    </div>

    <div class="profile-artist-bio">
      <p>{{page.bio}}</p>
    </div>
  </div>
  <h1>Listings by this Artist</h2>
  <div class="profile-artist-gallery">
    {% assign artist_gallery = site.gallery | where: "artist", page.name %}
    {% for art in artist_gallery %}
      {% include art.html %}
    {% endfor %}
  </div>
</div>
