<html lang="en-ca">
  <head>
    {% include head.html %}
    {% seo %}
  </head>
  <body class="parallax">
    {% include navbar.html %}
    <div id="wrapper" class="toggled">

      <div id="sidebar-wrapper">
        {% include sidebar.html %}
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid" id="content">
          {{content}}
        </div>
      </div>
    </div>

    <script>
      $(function(){
        $('#menu-toggle').click(function(e) {
          e.preventDefault();
          $('#wrapper').toggleClass('toggled');
        });

        $(window).resize(function(e) {
          if($(window).width()<=768){
            $('#wrapper').removeClass('toggled');
          }else{
            $('#wrapper').addClass('toggled');
          }
        });
      });
    </script>
  </body>
</html>
