---
layout: default
---
<div class="exhibit container">
  <div class="columns">

    <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12">
      {% include simple_gallery.html %}
    </div>

    <div class="exhibit-details column col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <h1>{{page.title}}</h1>

      {% if page.artisan %}
        <h4><small>by</small></h4>
        {% assign artisan_url = page.artisan | slugify | prepend: "/artisan/" | append: ".html" %}
        <h2><a href="{{artisan_url}}">{{page.artisan}}</a></h2>
      {% endif %}

      <h3>Asking ${{page.price}}</h3>
      {% include snipcart_button.html %}

      <div class="exhibit-content">
        {{page.content}}
      </div>



    </div>
  </div>
  <hr>
  <h2>More by {{page.artisan}}</h2>
  {% include more_by_artist.html %}
</div>
