---
layout: default
pagination:
enabled: true
---
<div class="gallery">
  <div class="container">
    <div class="exhibits columns">
      {% for exhibit in paginator.posts %}
        {% assign artisan_url =  exhibit.artisan | slugify | prepend:"/artisan/" | append: ".html" %}
        {% assign art_url = exhibit.url | append: ".html" %}
        {% assign img = exhibit.images.first.image %}
        {% assign timg = exhibit.images.first.thumbnail_image %}

        <div class="column col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-12 col-mx-auto col-ml-auto card">

          <a href="{{art_url}}">
          <img
            src="https://res.cloudinary.com/soalhouse/image/upload/w_300,h_300,c_250/{{ img }}"
                 class="img-responsive" />
          <h5>{{exhibit.title}}</h5>
          </a>

          <a href="{{artisan_url}}">
            <h6><small>by: </small>{{ exhibit.artisan }}</h6>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}

      <span class="page_number">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next">Next</span>
      {% endif %}
    </div>
  </div>
</div>
