---
layout: default
---
<div class="gallery">
  <div class="container">
    <div class="exhibits columns">
      {% for exhibit in site.gallery %}
        {% assign artisan_url =  exhibit.artisan | slugify | prepend:"/artisan/" | append: ".html" %}
        {% assign art_url = exhibit.url | append: ".html" %}
        {% assign img = exhibit.images.first.image %}
        {% assign timg = exhibit.images.first.thumbnail_image %}

        <div class="column col-auto col-mx-auto col-ml-auto card">

          <a href="{{art_url}}">
          <img src="{% if timg %}{{ timg }}{% else %}{{ img }}{% endif %}"
                 class="img-responsive" />
          <h5>{{exhibit.title}}</h5>
          </a>

          <a href="{{artisan_url}}">
            <h6><small>by: </small>{{ exhibit.artisan }}</h6>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
