---
layout: default
title: Home
permalink: /
priority: 1
---
<div class="bulletins ribbon">
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  {% assign thedate = '' %}
  {% for post in paginator.posts %}
    {% capture date %}{{ post.date | date: "%m%d%Y"}}{% endcapture %}
    {% capture nday %}{{ post.next.date | date: "%m%d%Y" }}{% endcapture %}

    {% if day != nday %}
      <h5 class="date">{{post.date | date: "%A, %B %e, %Y"}}</h5>
    {% endif %}
    <div class="bulletin">
      <div class="bulletin-title">
        <h2>
          <a href="{{ post.url | relative_url }}" rel="permalink">
            {{post.title}}
          </a>
        </h2>
      </div>
    </div>
  {% endfor %}

  {% include paginator.html %}
</div>

<div style="width: 250px; margin-top: 250px;">
  <a href="https://www.facebook.com/{{site.data.settings.facebook_page}}/">
    <img src="/assets/facebook/FindUs-FB-RGB.svg" class="card-img-top"/>
  </a>
</div>

<div>
  {% include paypal_button.html %}
</div>


