---
layout: sidebar
---
<div class="container">
  <div class="columns">
    <div class="column col-6">
      <div class="bzoom_wrap">
        <ul id="bzoom" class="bzoom clearfix" style="width: 400px; height:
          400px;  z-index: 50;">
          <li>
            <img class="bzoom_thumb_image" src="https://unsplash.it/375/500?image=201" title="first img" />
            <img class="bzoom_big_image" src="https://unsplash.it/750/1000?image=201"/>
          </li>
          <li>
            <img class="bzoom_thumb_image" src="https://unsplash.it/375/500?image=203"/>
            <img class="bzoom_big_image" src="https://unsplash.it/750/1000?image=203"/>
          </li>
          <li>
            <img class="bzoom_thumb_image" src="https://unsplash.it/375/500?image=212"/>
            <img class="bzoom_big_image" src="https://unsplash.it/750/1000?image=212"/>
          </li>
          <li>
            <img class="bzoom_thumb_image" src="https://unsplash.it/375/500?image=220"/>
            <img class="bzoom_big_image" src="https://unsplash.it/750/1000?image=220"/>
          </li>
          <li>
            <img class="bzoom_thumb_image" src="https://unsplash.it/375/500?image=223"/>
            <img class="bzoom_big_image" src="https://unsplash.it/750/1000?image=223"/>
          </li>
        </ul>
      </div>
    </div>
    <div class="column col-6">
      <p>{{page.bio}}</p>
      <p>{{page.value}}</p>
    </div>
  </div>
</div>

<div class="container gallery">
  <div class="purple-reign"></div>
  <h1>More by this Artist</h1>
  <div class="columns">
    {% for art in site.gallery %}
      {% if art.artist == page.artist %}
        {% assign artist_url =  art.artist | slugify | prepend:"/artist/" | append: ".html" %}
        {% assign art_url = art.url | append: ".html" %}
        <div class="column col-auto col-mx-auto col-ml-auto gallery-card card">
          <a href="{{art_url}}">
            <div class="card-image">
              <img src="{{art.image}}" class="img-responsive"/>
            </div>
            <div class="card-body">
              <div class="h5">{{art.title}}</div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% include js/jqzoom.html %}
