---
layout: sidebar
---
<div class="container profile">
  <div class="row align-items-center">
    <div class="col-lg profile-images">
      <div class="profile-images-main row justify-content-center">
        <img src="{{page.image}}"/>
      </div>
      <div class="profile-images-more row justify-content-center">
        <img src="{{page.image}}" class="col"/>
        <img src="{{page.image}}" class="col"/>
        <img src="{{page.image}}" class="col"/>
        <img src="{{page.image}}" class="col"/>
        <img src="{{page.image}}" class="col"/>
      </div>
    </div>

    <div class="col-lg">
      {{content}}
    </div>
  </div>

  <h1>More by this Artist</h1>
  <div class="container gallery">
    <div class="gallery-row row">
      {% for art in site.gallery %}
        {% assign artist_url =  art.artist | slugify | prepend:"/artist/" | append: ".html" %}
        <a href="{{art.url | append: ".html"}}">
          <div class="gallery-card card col">
            <img src="{{art.image}}" class="card-img-top"/>
            <div class="card-body">
              <h5 class="card-title"><strong>{{art.title}}</strong></h5>
              <a href="{{artist_url}}">
                <h6 class="card-subtitle">by {{art.artist}}</h6>
              </a>
              <p class="card-text">${{art.value}}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

